.page-link{
    color:var(--textPurpleSecondaryColor);
}

.page-link.inactive{
    background-color:rgba(255,255,255,0.5);
    color:rgba(0,0,0,0.5) ;
    cursor: not-allowed !important;
}

.page-link.active{
    color:rgba(255,255,255,0.9);
    background-color:var(--textPurpleSecondaryColor) ;
    cursor: not-allowed !important;
}