*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  font-family: 'Poppins','sans-serif';
}

:root{
  --mainColor:#121212;
  --textWhiteColor:rgba(255,255,255,0.8);
  --textWhiteSecondaryColor:rgba(255,255,255,0.6);
  --textPurpleLightColor:#9965F4;
  --textPurpleColor:#6002EE;
  --textPurpleSecondaryColor:#7E3FF2;
}

.bg-blue{
  background:#3D00E0 !important;
}

.border-none{
  border: none !important;
}

.outline-none{
  outline: none !important;
}

.w-full{
  width:100%;
}

.nav-link:hover{
  background: rgba(0,0,0,0.2);
}

.loading__container{
  display: grid;
  place-items: center;
}

.loader{
  height:40px;
  width:40px;
  border-radius: 50%;
  border:3px solid var(--textWhiteSecondaryColor);
  border-top: 3px solid var(--textPurpleSecondaryColor);
  -webkit-animation:loader infinite 0.4s linear ;
  -moz-animation:loader infinite 0.4s linear ;
  -o-animation:loader infinite 0.4s linear ;
  animation:loader infinite 0.4s linear ;
}

@-o-keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px){
  .navbar-brand{
    margin-left: 0 !important;
  }  
}

/* responsive view */

@media screen and (max-width:480px){
  .wrapper{
      padding:0.5rem !important;
  }
  .characters__cards{
      justify-content: center !important;
  }
  .card__container{
      width:100% !important;
      margin:0 !important; 
      margin-bottom: 1rem !important;
  }
  .page-link{
      padding:5px 10px !important;
      font-size: 12px !important;
  }
  .filter__container{
      margin:2rem 0rem !important;
  }
  .dropdown__container {
      max-width:150px !important;
      font-size: 12px !important;
  }
  .single__character__description__container {
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
  }
  .single__charcater__image__contianer{
      max-width:98%;
  }
  .single__charcater__body{
      padding:1rem 0 !important;
      font-size: 14px;
  }
  .quote{
      font-size: 14px !important;
  }
}

@media screen and (max-width:350px){
  .page-link{
      padding:5px 6px !important;
      font-size: 10px !important;
  }
}