*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  font-family: 'Poppins','sans-serif';
}

:root{
  --mainColor:#121212;
  --textWhiteColor:rgba(255,255,255,0.8);
  --textWhiteSecondaryColor:rgba(255,255,255,0.6);
  --textPurpleLightColor:#9965F4;
  --textPurpleColor:#6002EE;
  --textPurpleSecondaryColor:#7E3FF2;
}

.bg-blue{
  background:#3D00E0 !important;
}

.border-none{
  border: none !important;
}

.outline-none{
  outline: none !important;
}

.w-full{
  width:100%;
}

.nav-link:hover{
  background: rgba(0,0,0,0.2);
}

.loading__container{
  display: grid;
  place-items: center;
}

.loader{
  height:40px;
  width:40px;
  border-radius: 50%;
  border:3px solid var(--textWhiteSecondaryColor);
  border-top: 3px solid var(--textPurpleSecondaryColor);
  -webkit-animation:loader infinite 0.4s linear ;
  -moz-animation:loader infinite 0.4s linear ;
  -o-animation:loader infinite 0.4s linear ;
  animation:loader infinite 0.4s linear ;
}

@-o-keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes loader{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px){
  .navbar-brand{
    margin-left: 0 !important;
  }  
}